@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}


.gradiented {
    background: linear-gradient(to right, #B6473B, #C3685E, #E27B30, rgba(223, 199, 76, 0.72)) padding-box,
    linear-gradient(60deg, #DFC74C, #DFC74C) border-box;
    color: #B6473B;
    padding: 20px 70px;
    border: 1px solid transparent;

    display: inline-block;
    font-size: 28px;
}.gradientedBackground {
    background: linear-gradient(to right, #B6473B, #C3685E, #E27B30, rgba(223, 199, 76, 0.72)) padding-box,
    linear-gradient(60deg, #DFC74C, #DFC74C) border-box;
    color: #B6473B;

    border: 1px solid transparent;

    display: inline-block;
    font-size: 28px;
}

.backgroundGradient {
    background: linear-gradient(to right, #B6473B, #C3685E, #E27B30, rgba(223, 199, 76, 0.72)) padding-box,
    linear-gradient(60deg, #DFC74C, #DFC74C) border-box;
    color: #B6473B;

    border: 1px solid transparent;

    display: inline-block;

}

.gradientText {
    background: linear-gradient(to right, #B6473B, #C3685E, #E27B30, rgba(223, 199, 76, 0.72)) padding-box,
    linear-gradient(60deg, #DFC74C, #DFC74C) border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bordered {
    border: 3px solid var(--linear-1, #B6473B);
}

.backgroundImages {
    background-image: url("/Images/LogoMinahBg.png");
    background-repeat: no-repeat;
    background-position: top right ;
    background-size:  auto ;
    background-attachment: fixed;
}
.dropDownEntrance {
    animation-duration: 0.5s;
    animation-name: fadeInDown;
    animation-direction: alternate;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.backgroundColored {
    background-image: url("/Images/testBackground.png");
    background-attachment: fixed;


    background-size: cover;
}
.bgVectored{
    background-image: url("/Images/bgVectors.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.bgGradient{
    background: linear-gradient(90deg, #B6473B -54.29%, #C3685E 21.82%, #E27B30 75.1%, #DFC74C 132.72%);

}.bgGradientt{
     background: linear-gradient(98.73deg, #B6473B -53.12%, #C3685E 18.72%, #E27B30 69%, #DFC74C 123.4%);

}
.backk {
    background-image: url("/Images/contactBg.svg");
    background-position: center;
    background-size: cover;
}

.backgroundedImage {
    padding: 0;
    background-image: url("/Images/ProjectBackground.svg");
    background-position: right;

    background-repeat: no-repeat;
    /*background: #B6473B !important;*/
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /*padding: 50px;*/
    background: url('/Images/MoreBlurred.svg') no-repeat right;
    background-size: contain;
    /* Adjust the percentage as needed */

    /* changed to 'contain' to ensure the background fits the content */
    color: #000;

    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 50px;
    text-align: center;
    max-width: 100%; /* ensures the card does not exceed the width of the viewport */
    overflow: hidden;
}
.project-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /*padding: 50px;*/

    /* Adjust the percentage as needed */

    /* changed to 'contain' to ensure the background fits the content */
    color: #000;

    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 50px;
    text-align: center;
    max-width: 100%; /* ensures the card does not exceed the width of the viewport */
    overflow: hidden;
}
.project-card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /*padding: 50px;*/
    background: url('/Images/BackgroundProject.svg') no-repeat right;
    background-size: contain;
    /* Adjust the percentage as needed */

    /* changed to 'contain' to ensure the background fits the content */
    color: #000;

    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 50px;
    text-align: center;
    max-width: 100%; /* ensures the card does not exceed the width of the viewport */
    overflow: hidden;
}

.title-section {
    cursor: pointer;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #E57C30; /* Replace with the actual color code from the image */
}

.description {
    font-size: 16px;
    width: 50%; /* adjust width as necessary */
    margin: 0 auto; /* centers the paragraph */
}

.icon-section {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    width: 64px;
    height: 64px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.invest-button {
    background: #C06014; /* Replace with the actual button color code */
    border-color: #C06014; /* Replace with the actual button color code */
    color: #fff;
    font-weight: bold;
    border-radius: 20px; /* Gives the button rounded corners */
}

.explore-link {
    /*background: #C06014; !* Replace with the actual button color code *!*/
    border-color: #C06014; /* Replace with the actual button color code */
    /*color: #fff;*/
    font-weight: bold;
    border-radius: 20px; /* Gives the button rounded corners */
}

/* Add media queries to adjust the layout on different screen sizes */
@media (max-width: 768px) {
    .description {
        width: 80%;
    }

    .icon-section {
        gap: 10px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }
}

/*.ant-tabs-nav {*/
/*    background-color:#C06014 ; !* Change to your desired background color *!*/
/*}*/

.ant-tabs-tab {
    color: #000000 !important;
    font-weight: bolder /* Change to your desired inactive tab text color */;
    font-size: 18px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #C06014 !important; /* Change to your desired active tab text color */
    font-size: 30px !important;
}

.ant-tabs-ink-bar {
    background: linear-gradient(to right, #B6473B, #C3685E, #E27B30, #E1973B) padding-box !important;

}
.ant-progress-bg{
    background: linear-gradient(to right, #B6473B, #C3685E, #E27B30, #E1973B) padding-box !important;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-modal .ant-modal-content{
    padding: 0px !important;
}
.ant-modal .ant-modal-content{
    padding: 0 !important;
    /*@apply rounded-lg !important;*/

}
.ant-input{
    background: #FBF4F2 !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    @apply text-textOrange
}
@media (max-width: 768px) {
    body {
        width: 100vh !important;


    }
    .ProjectsMobile{
        width: fit-content;
        padding: 6px !important;
        font-size: 10px !important;
        text-align: center;
    }

   .NavbarMobile{
       padding: 2px 5px !important;
   }
   .NavbarMenu{
       gap: 10px !important;
       width: 100% !important;
   }
    .LoginSignup{
        padding: 0;
        width: 20px;
        height: 20px;
    }
    .HeroSection{
        padding: 10px !important;
    }
    .HeroHeading{
        font-size: 20px !important;
    }
    .ImageSection{
        width: 50vh !important;
        height: 50vh !important;
    }
    .AboutMinah{
        padding: 10px !important;
    }
    .AboutHeading{
        margin-top: 1.5rem;
    }
    .DummyImage{
        width: 15rem !important;
        height: 15rem !important;
    }
    .AboutSection{
        margin-bottom: 1rem !important;
    }
    .ButtonMobile{
        padding: 4px 9px ;
    }
    .ProjectMobileText{
        font-size: 20px;
        text-align: center;
    }
    .backgroundImagess {
        background-image: url("/Images/LogoMinahBg.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    } .backgroundImages {
        background-image: url("/Images/LogoMinahBg.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 20%;
    }
      .mobileContact{
          padding: 40px;
      }

}
.ProjectSection{
    max-height: 52vh !important;
}
.mainSetting::-webkit-scrollbar {
    display: none;
}

.mainSetting {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.FooterBlur {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Linear gradient for a fading effect */

}

.FooterBlur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Adjust the height of the blurred area */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Linear gradient for a fading effect */
    filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: -1;
}
.slick-dots{
    bottom: -70px!important;
}